.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin-top: 24px;
}

.header-right{
    display: flex;
    align-items: center;
}